<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?
         phone=7310747066
         &text=Hola, en que podemos ayudarte?."
   		 class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
     
<%- include ('../partials/head') %>    

<body>
   
<%- include ('../partials/header') %>
	<main id="vistaCrearP">
	<form id="formularioP" class="formCrear" action="/products/crear" method="POST" enctype="multipart/form-data">
		<h2 id="tituloCreacion"> Formulario de creacion de productos </h2>
		<div class="erroresCR">
			<ul>
			</ul>
		</div>
		<div>
		  <label for="nombre"> Nombre del producto: </label>
		  <input type="text" class="nombreCrear llenar" id="nombre" name="nombre" placeholder="producto"
		  class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
		  value= "<%= locals.oldData ? oldData.nombre : null%>">
		  <% if (locals.errors && errors.nombre) { %>
			<div class="text-error"> 
			  <%= errors.nombre.msg %>
			</div>
		  <% } %>
		</div>
		<br>
		<div>
		  <label for="precio"> Precio del producto: </label>
		  <input type="number" class="precioCrear llenar" placeholder=100 id="precio" name="precio" placeholder="precio"
		  class="form-control <%= locals.errors && errors.precio ? 'is-invalid' : null %>"
		  value= "<%= locals.oldData ? oldData.precio : null%>"> 
		  <% if (locals.errors && errors.precio) { %>
			<div class="text-error"> 
			  <%= errors.precio.msg %>
			</div>
		  <% } %>
		</div>
		<br>
		<div>
			<label for="descuento"> Descuento del producto: </label>
			<input type="number" name="descuento" id="descuento" placeholder="descuento" class="descuentoCR llenar"
			class="form-control <%= locals.errors && errors.descuento ? 'is-invalid' : null %>"
            value= "<%= locals.oldData ? oldData.descuento : null%>">
			<% if (locals.errors && errors.descuento) { %>
				<div class="text-error"> 
				  <%= errors.descuento.msg %>
				</div>
			  <% } %>
		</div>
		<br>
		<label for="categoria" class="form-label">Categoría:</label>
						<select name="categoria" id="categoria" class="form-input">
							<option value="">Elegí</option>
							<option value="in-sale">En oferta</option>
							<option value="visited">Últimos agregados</option>
						</select>
		<br>
		<div>
			<label for="descripcion">Descipción:</label>
			<br>
			<textarea type="text" name="descripcion" id="descripcion" class="form-input"></textarea>
		</div>
		<br>

	
		<div class="form-group">
			<label for="imageProd">Ingrese la foto del producto</label>
            <input type="file" name="imageProd" accept=".jpg" id="imageProd">    
        </div>
		<% if (locals.errors && errors.imageProd) { %>
			<div class="text-error"> 
			  <%= errors.imageProd.msg %>
			</div>
		  <% } %>
		
		<br>
		
		<div>
		  <button type="button" class="btn btn-secondary"> <a href="/">Home</a>  </button>
		  <button type="submit" class="btn btn-success"> Guardar Producto </button>
		</div>
		<script src="/public/js/crearProd.js"></script>
	  </form> 
	</main>
	<%- include('../partials/footer') %>

</body>	
</html>