<!DOCTYPE html>
<html lang="en">
     
<%- include ('../partials/head') %>    

<body>
   
<%- include ('../partials/header') %>
	<main id="editarProducto">
	<form id="formularioP" action="/products/editar/<%=producto.id%>?_method=PUT" method="POST">
		<h2 id="tituloCreacion"> Edicion de productos </h2>
		<div>
		  <label for="nombre"> Nombre del producto: </label>
		  <input type="text" id="nombre" name="nombre" placeholder="<%= producto.nombre %>" class="nombreEd llenar">
		</div>
		<br>
		<div>
		  <label for="precio"> Precio del producto: </label>
		  <input type="text" id="precio" name="precio" placeholder="<%= producto.precio %>" class="precioEd llenar">
		</div>
		<br>
		<div>
			<label for="descuento"> Descuento del producto: </label>
			<input type="text" name="descuento" id="descuento" placeholder="<%= producto.descuento %>" class="llenar">
		</div>
		<br>
		<label for="categoria" class="form-label">Categoría:</label>
						<select name="categoria" id="categoria" class="form-input">
							<option value="">Elegí</option>
							<option value="in-sale">En oferta</option>
							<option value="visited">Últimos agregados</option>
						</select>
		<br>
		<div>
			<label for="descripcion">Descipción:</label>
			<br>
			<textarea name="descripcion" id="descripcion" class="form-input"><%= producto.descripcion %></textarea>
		</div>
		<br>
		
		<div>
		  <button type="button" class="btn btn-secondary"> <a href="/">Home</a>  </button>
		  <button type="submit" class="btn btn-success">  Guardar Producto</button>
		</div>
		<script src="/public/js/editarProd.js"></script>
	  </form> 
	</main>
	<%- include('../partials/footer') %>
	
</body>	
</html>