<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?
         phone=7310747066
         &text=Hola, en que podemos ayudarte?."
   		 class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
     
<%- include ('../partials/head') %>    

<body>
   
<%- include ('../partials/header') %>
	<main id="editarProducto">
	 
	<form id="formularioP" class="formEditar" action="/products/editar/<%=producto.id%>?_method=PUT" method="POST">
		<h2 id="tituloCreacion"> Edicion de productos </h2>
		<div class="erroresED">
		<ul>
		</ul>
		</div> 
		<div>
		  <label for="nombre"> Nombre del producto: </label>
		  <input type="text" class="nombreEd llenar" id="nombre" name="nombre" placeholder="<%= producto.nombre %>"
		  class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
		  value= "<%= locals.oldData ? oldData.nombre : null%>">
		  <% if (locals.errors && errors.nombre) { %>
			<div class="text-error"> 
			  <%= errors.nombre.msg %>
			</div>
		  <% } %>

		</div>
		<br>
		<div>
		  <label for="precio"> Precio del producto: </label>
		  <input type="number" class="precioEd llenar" id="precio" name="precio" placeholder="<%= producto.precio %>"  
		  class="form-control <%= locals.errors && errors.precio ? 'is-invalid' : null %>"
		  value= "<%= locals.oldData ? oldData.precio : null%>">
		  <% if (locals.errors && errors.precio) { %>
			<div class="text-error"> 
			  <%= errors.precio.msg %>
			</div>
		  <% } %>
		</div>
		<br>
		<div>
			<label for="descuento"> Descuento del producto: </label>
			<input type="number" name="descuento" id="descuento" placeholder="<%= producto.descuento %>" class="descuentoEd llenar"
			class="form-control <%= locals.errors && errors.descuento ? 'is-invalid' : null %>"
            value= "<%= locals.oldData ? oldData.descuento : null%>">
			<% if (locals.errors && errors.descuento) { %>
				<div class="text-error"> 
				  <%= errors.descuento.msg %>
				</div>
			  <% } %>
		</div>
		<br>
		<label for="categoria" class="form-label">Categoría:</label>
							<select name="categoria" id="categoria" class="form-input">
								<option value="5">En oferta</option>
								<option value="4">Últimos Agregados </option>
								<option value="2">Accesorios</option>
								<option value="3">Entretenimiento</option>
								<option value="1">Soporte</option>
								<option value="6">Otros</option>
							</select>						<
		<br>
		<div>
			<label for="descripcion">Descipción:</label>
			<br>
			<textarea name="descripcion" id="descripcion" class="form-input"><%= producto.descripcion %></textarea>
		</div>
		<br>
		
		<div>
		  <button type="button" class="btn btn-secondary"> <a href="/">Home</a>  </button>
		  <button type="submit" class="btn btn-success">  Guardar Producto</button>
		</div>
		<script src="/public/js/editarProd.js"></script> 
	  </form> 
	</main>
	<%- include('../partials/footer') %>
	
</body>	
</html>