<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Editando: ' + producto.name}) %>
<body>
	
	<%- include('partials/headerNavbar') %>
	

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Estás editando: <i>PRODUCT NAME</i></h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/products/edit/<%=producto.id%>?_method=PUT" method="POST">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre del producto: </label>
						<input type="text" id="name" name="name" placeholder="<%= producto.name %>" value="<%= producto.name %>" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto: </label>
						<input type="text" id="price" name="price" placeholder="<%= producto.price %>" value="<%= producto.price %>" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="discount" class="form-label">Descuento:</label>
						<input type="text" id="discount" name="discount" placeholder="<%= producto.discount %>" value="<%= producto.discount %>"  class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option value="">Elegí</option>
							<option value="in-sale">En oferta</option>
							<option value="visited" >Últimos agregados</option>
						</select>
					</div>
					<div class="col-12">
						<label for="description" class="form-label">Descipción:</label>
						<textarea name="description" id="description" class="form-input" value="<%= producto.discount %>"><%= producto.description %></textarea>
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	
	<%- include('partials/footer') %>
	
</body>	
</html>