<!DOCTYPE html>
<html lang="en">
     
<%- include ('./partials/head') %>    

<body>
   
<%- include ('./partials/header') %>

<main id="cuerpoArba">
    <div id="productosJ">
        <% for (let i=0 ; i<p.length ; i++) { %>
            <div id="P1J" class="SPJ">
                <section>
                    <a class="botonJ" href="/products/detail/<%=p[i].id%>" ><img src="../public/imagenes/<%=p[i].imagen%>" class="fotos">
                    <div id="textoProducto">
                        <p class="textosPS"><%=p[i].nombre %> </p>
                        <p class="textosPSP"><%=p[i].precio %>$</p>
                    </div>
                </section>
            </div>
        <% } %>
    </div>
    <br>
</main>
    
<%- include ('./partials/footer') %>    


</body>
</html>