<!DOCTYPE html>

<html>
  
<%- include ('./partials/head') %>    
  

  <body >
     
<%- include ('./partials/header') %>

    <main id="cuerpoJ">
        <div id="descripcionJ">
        <p id="randomJ"><b> 
          D3 es una empresa que ofrece productos 3D y servicios de impresores 3D para que nuestros clientes puedan disponer de las mismas ante cualquier necesidad.
          Con envíos a todo el país, en D3 te garantizamos las impresiones más finas y de mejor calidad del país.  Nos elijen no solo por la calidad y duración de 
          nuestros productos, sino tambíen por la buena relación costo-precio que brindamos.
        <br>
        <br>
          No te preocupes más si se te hace díficil conseguir o imprimir un producto. Mientras que tengas un archivo o modelo del producto a imprimir,
          nosotros en tiempo y forma te lo llevaremos a la puerta de tu casa. Y si no te gusta, pedi un reemboloso sin cargo!
        </b> 
        </p> 
        </div>
        <br>
        <div id="productosJ">
          <% for (let i=0 ; i<p.length ; i++) { %>
          <div id="P1J" class="SPJ">
          <section>
            <a class="botonJ" href="/products/detail/<%=p[i].id%>" ><img src="../public/imagenes/<%=p[i].imagen%>" class="fotos"> <p class="textosPS">Ver más <%= p[i].nombre %> </p></a> 
          </section>
          </div>
         <% } %>
         
          <div id="P2J" class="SPJ">
            <a class="botonJ" href="/index" > <img src="../public/imagenes/producto2.png" class="fotos"> <p class="textosPS">Ver más - Producto 2</p></a>
          </div>   
            
        </div>
        <br>
        <div id="serviciosJ">
          <% for (let i=0 ; i<p.length ; i++) { %>
            <div id="S1J" class="SPJ">
              <a class="botonJ" href="/products/detail/<%=p[i].id%>"> <img src="../public/imagenes/<%=p[i].imagen%>" class="fotos"> <p class="textosPS">  Ver más - Servicio 1 </p></a> 
            </div>
          <% } %> 
        </div>
    </main>
     
<%- include ('./partials/footer') %>
    
  </body>
</html>


