<!DOCTYPE html>

<html>
  
  
<%- include ('./partials/head') %>  


<body onLoad="alert('BIENVENIDO A PRODUCTOS Y SERVICIOS D3')">

    
    
<%- include ('./partials/header') %>


    <main id="cuerpoJ" >
      
        <div id="descripcionJ">
        <p id="randomJ"><b> 
          <br><b>Somos una empresa que ofrece servicio de impresión y productos 3D.</b></br>
          <br><b>Brindamos calidad premium a bajo costo y hacemos envíos a todo el país.</b></br>
          <br><b>Nos mandás el archivo o modelo y recibís el producto en tu casa.</b></br>      
          <br><b>Si no te gusta, te reembolsamos el dinero.</b></br>
          
          
          
        <br>
        <br>
          
        </b> 
        </p> 
        </div>
        <br>
        <div id="productosJ">
          <% for (let i=0 ; i<p.length ; i++) { %>
          <div id="P1J" class="SPJ">
          <section>
            <a class="botonJ" href="/products/detail/<%=p[i].id%>" ><img src="../public/imagenes/<%=p[i].imagen%>" class="fotos"> <p class="textosPS">Ver más <%= p[i].nombre %> </p></a> 
          </section>
          </div>
          
         <% } %>
         
         
         
          <div id="P2J" class="SPJ">
            <a class="botonJ" href="/index" > <img src="../public/imagenes/producto2.png" class="fotos"> <p class="textosPS">Ver más - Producto 2</p></a>
          </div> 
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
          <div style="padding:0 4%;"></div>
          <a href="https://api.whatsapp.com/send?phone=5521960574&text=Hola%21%20en que%20podemos%20ayudarte?%20" class="floatWapp" target="_blank">
            <i class="fa fa-whatsapp my-floatWapp"></i>
            </a>
            
            
                     
            
            <br>
        <div id="serviciosJ">
          <% for (let i=0 ; i<p.length ; i++) { %>
            <div id="S1J" class="SPJ">
              <a class="botonJ" href="/products/detail/<%=p[i].id%>"> <img src="../public/imagenes/<%=p[i].imagen%>" class="fotos"> <p class="textosPS">  Ver más - Servicio 1 </p></a> 
            </div>
           <% } %>  
          </div>
          
        
          
    </main>
    
    
     
<%- include ('./partials/footer') %>


  </body>
</html>


