<!DOCTYPE html>

<html>

  
<%- include ('../partials/head') %>    
 
  <body>
    
<%- include ('../partials/header') %>
    <main id="login">
      <form id="formulario-2" class="formLogin" action="/users/login" method="POST" >
        <h2 id="tituloCreacion"> Login: </h2>
        <div class="erroresLG">
          <ul>
          </ul>
        </div>
        <div>
          <label for="email"> Ingrese su Email: </label>
          <input type="text" 
            name="email" required
            id="email" 
            class="emailL llenar"
            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
            value= "<%= locals.oldData ? oldData.email : null%>">
            <% if (locals.errors && errors.email) { %>
              <div class="text-error"> 
                <%= errors.email.msg %>
              </div>
            <% } %>
        </div>
        <br>
        <div>
          <label for="password"> Ingrese su Contraseña: </label>
          <input type="password" 
            name="password" required
            id="password" 
            class="passL llenar"
            class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
            value= "<%= locals.oldData ? oldData.password : null%>">
            <% if (locals.errors && errors.password) { %>
              <div class="text-error"> 
                <%= errors.password.msg %>
              </div>
            <% } %>
        </div>
        <br>
 <!--      <label for="interes" name="interes"> Recordar mi cuenta 
          <input type="checkbox" name="recordarUsuario">       
        </label>--> 
        <div>
          <button type="button" class="btn btn-secondary"> <a href="/">Home</a>  </button>
          <button type="submit" class="btn btn-primary"> Ingresar </button>
        </div> 
        <script src="/public/js/login.js"></script>
        
      </form>
    </main>

<%- include ('../partials/footer') %>
    
  </body>
</html>