<!DOCTYPE html>

<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?
         phone=7310747066
         &text=Hola, en que podemos ayudarte?."
   		 class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
  <head>
  
    <title>Toggle Password Visibility</title>
    <link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity=
"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  
      </head>
  
  

  
<%- include ('../partials/head') %>    
 
  <body>
    
<%- include ('../partials/header') %>
    <main id="login">
      <form id="formulario-2" class="formLogin" action="/users/login" method="POST" >
        <h2 id="tituloCreacion"> Login: </h2>
        <div class="erroresLG">
          <ul>
          </ul>
        </div>
        <div>
          <label for="email"> Ingrese su Email: </label>
          <input type="text" 
            name="email" required
            id="email" 
            class="emailL llenar"
            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
            value= "<%= locals.oldData ? oldData.email : null%>">
            <% if (locals.errors && errors.email) { %>
              <div class="text-error"> 
                <%= errors.email.msg %>
              </div>
            <% } %>
        </div>
        <br>
        <div>
          <label for="password"> Ingrese su Contraseña: </label>
          <input type="password" 
            name="password" required
            id="password" 
            class="passL llenar"
            class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
            value= "<%= locals.oldData ? oldData.password : null%>">
            <i class="bi bi-eye-slash" id="togglePassword"></i>
            <% if (locals.errors && errors.password) { %>
              <div class="text-error"> 
                <%= errors.password.msg %>
              </div>
            <% } %>
        </div>
        <br>
 <!--      <label for="interes" name="interes"> Recordar mi cuenta 
          <input type="checkbox" name="recordarUsuario">       
        </label>--> 
        <div>
          <button type="button" class="btn btn-secondary"> <a href="/"> Home </a>  </button>
          <button type="submit" class="btn btn-primary"> Ingresar </button>
        </div> 
        <script src="/public/js/login.js"></script>
        <script src="/public/js/toggleButton.js"></script>
      </form>
    </main>

<%- include ('../partials/footer') %>
    
  </body>
</html>