!DOCTYPE html>

<html>
  
<%- include ('../partials/head') %>    
 
  <body >
    
<%- include ('../partials/header') %>
  <main id="perfil">
    <form id="formulario-3" action="/users/login" method="POST" >
      <h2 id="tituloCreacion"> Bienvenido a D3, <%= user.nombre %>! </h2>
           <div><hr></hr>
        <p class="textoPerfil1"> Este es su email: </p>
        <div id="UserEmail" > <img src="/public/imagenes/emailImage.PNG" id="UserEmail1"> </div> 
        <h2 class="textoPerfil2"> <%= user.email %> </h2>                     
      </div>          
      </div>
      
      <div><hr></hr>
        <p class="textoPerfil1"> Este es su domicilio: </p>
        <div id="UserDireccion" > <img src="/public/imagenes/direccionesImage.PNG" id="UserDireccion1"> </div> 
        <h2 class="textoPerfil2"> <%= user.domicilio %> </h2>         
      </div>
      <div><hr></hr>
              <p class="textoPerfil1"> Esta es su foto de perfil: </p> 
      <div id="fotoPerfilDiv" > <img src="/public/imagenes/avatars/<%=user.image%>" id="fotoPerfil"> </div></div>   
      
      </form>  

</main>
    
<%- include ('../partials/footer') %>
    
  </body>
</html>